@font-face {
    font-family: 'ZombieHunger';
    /* La solution la plus sûre : l'URL directe de ton fichier sur GitHub */
    src: url('https://lecritiquealamachette.github.io/assets/fonts/Zombie-Hunger.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
$twitter: #1DA1F2;
$rss: #f26522;
$mail: #5d5c5d;
$instagram: #e1306c;
$facebook: #3b5998;
$youtube: #ff0000;
$grey: #a2a2a2;

.container {
    .sidebar {
        width: 15%;
        order: 5;
        margin-top: 80px !important;
        background-color: white;
        padding-bottom: 30px;
        margin-bottom: 50px;
        border-radius: 10px;
        text-align: center;
        box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.5);

        /* Application du style au titre */
        .site-title {
            font-family: 'ZombieHunger', fantasy !important;
            font-size: 32px;
            color: #cc0000;
            margin-bottom: 10px;
            display: block;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
        }

        /* Le reste de votre code reste inchangé */
        #info {
            margin-left: 6px;
            margin-right: 6px;
        }
        // ... la suite de votre code ...
    }
}
